NEXT_PUBLIC_SUPABASE_URL=https://cuxgnskbdmolbvaatlif.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1eGduc2tiZG1vbGJ2YWF0bGlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDMzOTksImV4cCI6MjA3NjE3OTM5OX0.w2kAhZOq1F-ivKTz7iHLyC0JXpLG5RwbqyHnQPRBJn8
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1eGduc2tiZG1vbGJ2YWF0bGlmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDYwMzM5OSwiZXhwIjoyMDc2MTc5Mzk5fQ.9OUoVlkO3Rulr1nkoSnQVOzzMsT-D6RbFM-AetQgwfk
NEXT_PUBLIC_APP_NAME=DostGlass